{% extends 'common.html' %}
{% block pagecss %}
    <style>
        .list-group {
            max-height: 900px;
            margin-bottom: 10px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="container">
        <h1>Raffle</h1>
    </div>
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Event Stream</h1>
                <ul class="list-group" id="event-stream"></ul>
            </div>
            <div class="col-9">
                {% for gift in object_list %}
                    <tr>
                        {% if gift.wrapped %}
                            <td><img id="image-{{ gift.id }}" src="{{ gift.pixelated_image.url }}" class="img-fluid">
                            </td>
                        {% else %}
                            <td><img src="{{ gift.image.url }}" class="img-fluid"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript">
            window.onload = function () {
                $("[id^=image]").on("click", function () {
                    var image_id = this.id;
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'process_image_click' %}',
                        data: {
                            'image_id': image_id,
                            'event_id': {{ view.kwargs.event_id }},
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        dataType: 'json',
                        success: function (data) {
                            $(data['element']).attr('src', data['image'])
                        }
                    });
                });
            }
            $(document).ready(function () {
                $('#event-stream').data("last_processed_event", 0);
                function poll() {
                    $.post({
                        url: '{% url 'event_stream' %}',
                        data: {
                            'last_processed_event': $('#event-stream').data("last_processed_event"),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            var list = document.getElementById('event-stream');
                            for (activity of data['activity']) {
                                var entry = document.createElement('li');
                                entry.appendChild(document.createTextNode(activity));
                                list.appendChild(entry);
                            }
                            $('#event-stream').data("last_processed_event", data["last_event"]);
                        },
                        timeout: 5000
                    }).always(function () {
                        setTimeout(poll, 5000)
                    })
                }
                setTimeout(poll, 5000);
            })
        </script>
    </div>
{% endblock %}