{% extends 'common.html' %}
{% block header %}
    <div class="container">
        <h1>Raffle</h1>
    </div>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Event Stream</h1>
            </div>
            <div class="col-10">
                {% for gift in object_list %}
                    <tr>
                        {% if gift.wrapped %}
                            <td><img id="image-{{ gift.id }}" src="{{ gift.pixelated_image.url }}" class="img-fluid">
                            </td>
                        {% else %}
                            <td><img src="{{ gift.image.url }}" class="img-fluid"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript">
            window.onload = function () {
                $("[id^=image]").on("click", function () {
                    var image_id = this.id;
                    $.ajax({
                        type: 'POST',
                        url: '/event/ajax/unwrap_image/',
                        data: {
                            'image_id': image_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: 'json',
                        success: function (data) {
                            $(data['element']).attr('src', data['image'])
                        }
                    });
                });
            }
        </script>
{% endblock %}