{% extends 'no_sidebar.html' %}
{% block header %}
    <div class="container">
        <h1>Donations</h1>
    </div>
{% endblock %}
{% load static %}

{% block content %}
    <p>Donations can be updated by clicking on the name of the donation.
        Please confirm you are happy with the image and the pixelated version of the image
        that will be used in the raffle.</p>
    {% if object_list %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Donated by</th>
            <th scope="col">Image</th>
            <th scope="col">Pixelated Image</th>
            <th scope="col">Rotate Image</th>
        </tr>
        </thead>
        <tbody>
        {% for gift in object_list %}
            <tr>
                <th scope="row"><a href="{% url 'update_gift' gift.id %}">{{ gift.description }}</a></th>
                <td>{{ gift.added_by }}</td>
                <td><img src="{{ gift.image.url }}" class="img-fluid" alt="Responsive image"></td>
                <td><img src="{{ gift.pixelated_image.url }}" class="img-fluid" alt="Responsive image"></td>
                <td>
                    <a href="{% url 'rotate_image' gift.id 270 %}">
                    <img src="{% static 'icons/action-redo-6x.png' %}" alt="Rotate Left">
                        </a>
                    <a href="{% url 'rotate_image' gift.id 90 %}">
                    <img src="{% static 'icons/action-undo-6x.png' %}" alt="Rotate Right">
                    </a>
                </td>
                <td><a href="{% url 'delete_gift' gift.id %}">Remove donation</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Donate new items <a href="{% url 'gift_create' %}">here</a>.</p>
    {% endif %}
{% endblock %}

