{% extends 'base.html' %}
{% block header %}
    <div class="container">
        <h1>Donate Gift</h1>
    </div>
{% endblock %}


{% block content %}
    <hr class="mt-2 mb-5">
    <p>Donate a gift to the raffle by uploading an image of it here.</p>
        <ol>
            <li>When providing the description, please ensure that it is clear what is being donated. </li>
        <li>This description will be used in parts of the raffle so needs to work in a sentence of the form:
            {{ user.get_username }} donated a DESCRIPTION.</li>
        <li>The image that you upload will automatically be downsized to 600 pixels and a pixelated version generated.</li>
        <li>Please confirm you are happy with the image after upload and reupload with a different image if you are not happy.</li>
        </ol>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Donate">
    </form>
{% endblock %}