{% extends 'base.html' %}
{% block header %}
    <div class="container">
        <h1>Donations</h1>
    </div>
{% endblock %}


{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Donated by</th>
            <th scope="col">Image</th>
            <th scope="col">Pixelated Image</th>
        </tr>
        </thead>
        <tbody>
        {% for gift in object_list %}
            <tr>
                <th scope="row">{{ gift.description }}</th>
                <td>{{ gift.added_by }}</td>
                <td><img src="{{ gift.image.url }}" class="img-fluid" alt="Responsive image"></td>
                <td><img src="{{ gift.pixelated_image.url }}" class="img-fluid" alt="Responsive image"></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}


</div>
