{% extends 'common.html' %}
{% block pagecss %}
    <style>
        .sticky-offset {
            top: 56px;
        }
    </style>
{% endblock %}

{% block container %}
    <section class="jumbotron text-center sticky-offset">
        {% block header %}
        {% endblock %}
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
