{% extends 'base.html' %}

{% block page_header %}
    <style>

        [role="main"] {
            padding-top: 48px; /* Space for fixed navbar */
        }

    </style>
{% endblock %}

{% block mainpage %}
    <main role="main">
        <div class="jumbotron p-10">
            <div class="container">
                <h1 class="display-3" align="center">{% block header %}{% endblock %}</h1>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}